{% extends 'base.html' %}
{% load static %}

{% block wrapper_class %}page-wrapper dashboard mm-page mm-slideout{% endblock %}

{% block content %}
<div class="sidebar-backdrop"></div>
<!-- User Sidebar -->
<div class="user-sidebar">

    <div class="sidebar-inner">
        <ul class="navigation">
            <li><a href="{% url 'home_page' %}"> <i class="la la-home"></i> Bosh sahifa</a></li>
            <li><a href="/cabinet/"><i class="la la-user-tie"></i>Shaxsiy kabinet</a></li>
            <li><a href="/accounts/logout/"><i class="la la-sign-out"></i>Chiqish</a></li>
        </ul>
    </div>
</div>

<section class="user-dashboard">
    <div class="dashboard-outer">

        </div>

        <div class="row">
            <div class="col-lg-12 alert alert-success">
                <h3 class="mx-3"><i class="la la-paper-plane"></i> Ish muvaffaqqiyatli joylandi!</h3>
                <div class="d-flex mt-3 justify-content-center">
                    <a href="{% url 'home_page' %}" class="btn btn-success mx-3"><i class="la la-home"></i> Bosh sahifa</a>
                    <a href="/cabinet/" class="btn btn-primary"><i class="la la-briefcase"></i> Buyurtmalarim</a>
                </div>
            </div>


        </div>
    </div>
</section>
{% endblock %}
